<?xml version="1.0" encoding="utf-8" ?>
<phpunit
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"

	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"

	bootstrap="./tests/bootstrap.php"
	colors="true"
	>
	<testsuites>
		<testsuite name="WeWood application beta Test Suite">
			<directory suffix="Test.php">test</directory>
			<exclude suffix="*.phpt"></exclude>
		</testsuite>
	</testsuites>

<!--	<filter>
		<blacklist>
			<directory suffix=".php">/src/vendor</directory>
			<directory suffix=".phpt">/src/vendor</directory>
		</blacklist>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">/test</directory>
		</whitelist>
	</filter>-->
</phpunit>