test:
	parameters:
		database:
			driver: mysql
			host: localhost
			dbname: jedenweb
			user: root
			password: root

	nette:
		database:
			default:
				dsn: "%database.driver%:host=%database.host%;dbname=%database.dbname%"
				user: %database.user%
				password: %database.password%
				reflection: conventional

	services:
		database: @nette.database.default